/* Add Cairo Font for Arabic support */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Cairo first for Arabic, Montserrat fallback for numbers/English */
    font-family: 'Cairo', 'Montserrat', sans-serif; 
    font-weight: 400;
    font-style: normal;
}

/* Force the entire body to be Right-to-Left */
body {
    direction: rtl;
    text-align: right;
}

/* scroll bar */ 
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6f6f6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}     

.ant-form-item{
    margin-bottom: 15px !important;
}

/* Fix: Prevent Parent SubMenu text from turning white when a child is active */
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: rgba(0, 0, 0, 0.88) !important;
}

/* Fix: Prevent Parent SubMenu Icon from turning white */
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title .ant-menu-item-icon {
    color: rgba(0, 0, 0, 0.88) !important;
}